@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600;700;800&family=Inter:wght@300;400;500;600&display=swap');

:root{
    --bg:#05070c;
    --card:#0f172a;
    --cyan:#00f2fe;
    --text:#ffffff;
    --gray:#94a3b8;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    background:var(--bg);
    color:white;
    font-family:'Inter',sans-serif;
}

/* NAV */

nav{
    position:fixed;
    top:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    backdrop-filter:blur(20px);
    z-index:1000;
}

.logo{
    font-family:'Orbitron';
    color:var(--cyan);
    font-size:24px;
    font-weight:800;
}

nav ul{
    display:flex;
    list-style:none;
    gap:30px;
}

nav a{
    color:white;
    text-decoration:none;
}

/* HERO */

.hero{
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    padding:30px;
}

.hero h1{
    font-size:5rem;
    font-family:'Orbitron';
}

.hero h2{
    color:var(--cyan);
    margin:20px 0;
}

.hero p{
    max-width:700px;
    margin:auto;
    color:var(--gray);
    line-height:1.8;
}

.hero-buttons{
    margin-top:40px;
}

.hero-buttons a{
    text-decoration:none;
    color:white;
    border:1px solid var(--cyan);
    padding:15px 25px;
    margin:10px;
    border-radius:10px;
}

/* SECCIONES */

section{
    padding:120px 10%;
}

section h2{
    margin-bottom:40px;
    font-size:2rem;
    color:var(--cyan);
}

/* STATS */

.stats{
    display:flex;
    gap:30px;
    margin-top:50px;
}

.stat{
    background:var(--card);
    padding:30px;
    border-radius:15px;
}

.stat h3{
    color:var(--cyan);
}

/* SKILLS */

.skills-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
    gap:20px;
}

.skill-card{
    background:var(--card);
    padding:20px;
    text-align:center;
    border-radius:15px;
}

/* PROJECTS */

.projects-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:25px;
}

.project-card{
    background:var(--card);
    padding:25px;
    border-radius:20px;
    transition:.3s;
}

.project-card:hover{
    transform:translateY(-10px);
    border:1px solid var(--cyan);
}

.project-card h3{
    margin-bottom:15px;
}

.project-card p{
    color:var(--gray);
    margin-bottom:20px;
}

.project-card span{
    color:var(--cyan);
}

/* CONTACTO */

.contact-btn{
    display:inline-block;
    margin-top:25px;
    text-decoration:none;
    color:white;
    border:1px solid var(--cyan);
    padding:15px 25px;
    border-radius:10px;
}

/* FOOTER */

footer{
    text-align:center;
    padding:40px;
    color:var(--gray);
}

/* RESPONSIVE */

@media(max-width:768px){

    nav ul{
        display:none;
    }

    .hero h1{
        font-size:3rem;
    }

    .stats{
        flex-direction:column;
    }
}

.repo-link{
    color: white;
    text-decoration: none;
    transition: all .3s ease;
}

.repo-link:hover{
    color: #00f2fe;
    text-decoration: underline;
}

.contact-tel{
    color: #94a3b8;
    text-decoration: none;

}
.contact-tel:hover{
    color:  #00f2fe;
    text-decoration: none;
}

.profile-picture{
    margin-bottom:30px;
}

.profile-picture img{
    width:220px;
    height:220px;

    object-fit:cover;

    border-radius:50%;

    border:4px solid #00f2fe;

    box-shadow:
        0 0 20px rgba(0,242,254,.4),
        0 0 50px rgba(0,242,254,.2);

    transition:all .3s ease;
}

.profile-picture img:hover{
    transform:scale(1.05);
}
.hero-content{
    margin-left: 80px;
}
